.draw-root {
  position: relative;
}

.draw-root div[class^="lang-"] {
  transition: opacity 0.5s;
}

.draw-root .display div[class^="lang-"] {
  opacity: 1;
}

.draw-root .fade div[class^="lang-"] {
  opacity: 0;
}

.dimed-code {
  color: #cccccc;
}
