html
body {
  margin: 0%;
  width: 100vw;
  height: 100vh;
}

#root {
  height: 100%;
  width: 100%;
}

.draw-root {
  height: 100%;
  width: 100%;
  display: flex;
}

.draw-root > * {
  width: 100%;
  height: 100%;
}

.code-background {
  height: 100%;
  width: 100%;
}

.draw-root div[class^="lang-"] {
  transition: opacity 0.5s;
}

.draw-root .display div[class^="lang-"] {
  opacity: 1;
}

.draw-root .fade div[class^="lang-"] {
  opacity: 0;
}

.dimed-code {
  color: #cccccc;
}
